.portfolio-box {
	border-radius: 5px;
	border: 1px solid #333;
	color: #222;	
	position: relative;
	display: block;

	&:hover {
		color: #222;

		img {
			opacity: 0.5;
		}

		.portfolio-label {
			font-size: 48px;
			line-height: 3.5;
		}
	}

	img {
		opacity: 0.3;
		transition: 250ms;
	}


	
}

.portfolio-label {
		position: absolute;
		line-height: 4;
		font-weight: 700;
		font-size: 42px;
		text-align: center;
		width: 100%;
		top: 0;
		color: inherit;
		transition: 250ms;
	}