doctype html
html(ng-app="Portfolio")
  head
    title= title
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    
    script(src='/javascripts/head.load.min.js')
    script(src='/javascripts/boot.js')
