body {
  padding: 0px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px; }

header, .header {
  padding: 0 50px;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 15vh; }
  @media (max-width: 360px), (max-width: 768px) and (orientation: portrait) {
    header, .header {
      padding: 0 15px;
      position: static;
      height: auto; } }

footer, .footer {
  position: fixed;
  height: 10vh;
  bottom: 0;
  width: 100%;
  padding: 15px 50px;
  text-align: right; }
  @media (max-width: 360px), (max-width: 768px) and (orientation: portrait) {
    footer, .footer {
      position: static;
      padding: 10px 5px; } }

a {
  color: #00B7FF; }

.main-nav {
  float: left;
  margin-top: 10px; }
  @media (max-width: 360px) {
    .main-nav {
      float: none;
      display: block;
      margin-top: 0px; } }

.nav-menu {
  padding-left: 15px; }
  @media (max-width: 360px) {
    .nav-menu {
      padding-left: 0;
      margin-top: 0; }
      .nav-menu h3 {
        margin: 0;
        font-size: 14px; } }

.nav-element {
  display: inline-block;
  list-style: none;
  margin-right: 10px; }
  .nav-element a {
    color: inherit; }

.site-header {
  float: left;
  margin-right: 15px; }
  @media (max-width: 360px) {
    .site-header {
      font-size: 1.5em;
      float: none;
      margin-bottom: 0px; } }

.photo-box img {
  max-width: 100%; }

.image-box {
  display: inline-block;
  height: 100%; }
  .image-box:last-of-type img {
    margin-right: 0; }
  .image-box img {
    height: 100%;
    width: auto;
    margin: 0 15px; }
  @media (max-width: 360px), (max-width: 768px) and (orientation: portrait) {
    .image-box {
      display: block;
      margin-bottom: 5px; }
      .image-box img {
        margin: 0;
        width: 100%;
        height: auto; } }

.photo-wrapper {
  height: 100%; }
  .photo-wrapper img {
    height: 100%;
    width: auto; }
    @media (max-width: 360px), (max-width: 768px) and (orientation: portrait) {
      .photo-wrapper img {
        width: 100%;
        height: auto; } }

.main-content {
  margin-top: 15vh;
  height: 75vh; }
  @media (max-width: 360px), (max-width: 768px) and (orientation: portrait) {
    .main-content {
      margin-top: 0;
      height: auto;
      width: 100%; } }

.main-content.image-list {
  padding: 0; }

.scroll-wrapper {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;
  padding: 0 0 0 15px; }
  @media (max-width: 360px), (max-width: 768px) and (orientation: portrait) {
    .scroll-wrapper {
      padding: 0 5px;
      width: 100%; } }

.portfolio-box {
  border-radius: 5px;
  border: 1px solid #333;
  color: #222;
  position: relative;
  display: block; }
  .portfolio-box:hover {
    color: #222; }
    .portfolio-box:hover img {
      opacity: 0.5; }
    .portfolio-box:hover .portfolio-label {
      font-size: 48px;
      line-height: 3.5; }
  .portfolio-box img {
    opacity: 0.3;
    transition: 250ms; }

.portfolio-label {
  position: absolute;
  line-height: 4;
  font-weight: 700;
  font-size: 42px;
  text-align: center;
  width: 100%;
  top: 0;
  color: inherit;
  transition: 250ms; }
