body {
  padding: 0px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

header {
	padding: 0 50px;
	position: fixed;

	top: 0;
	width: 100vw;
	height: 15vh;
}

footer {
	position: fixed;
	height: 10vh;
	bottom: 0;
	width: 100%;
	padding: 15px 50px;
	text-align: right;
}


a {
  color: #00B7FF;
}

.main-content {
	margin-top: 15vh;
	height: 75vh;
}

.main-content.image-list {
	padding: 0;
	
}

.scroll-wrapper {
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	height: 100%;
	padding: 0 0 0 15px;
}

