body {
  padding: 0px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

header {
	padding: 0 50px;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 15vh;

	@media (max-width: $screen-xs), (orientation: portrait) {
		padding: 0 15px;
		position: static;
		height: auto;
		width: 100%;
		overflow: auto;
	}
}

footer {
	position: fixed;
	height: 10vh;
	bottom: 0;
	width: 100%;
	padding: 15px 50px;
	text-align: right;

	@media (max-width: $screen-xs), (orientation: portrait) {
		position: static;
		padding: 10px 5px;
	}
}


a {
  color: #00B7FF;
}


